body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500vh;
  margin: 0;
  color: white;
}

.container {
  text-align: center;
  width: 400px;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

input, select {
  width: 90%;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: none;
}


button {
  padding: 12px 20px;
  background: #00c853;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #00e676;
  transform: scale(1.05);
}

.result-card {
  margin-top: 20px;
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.meter {
  height: 20px;
  width: 100%;
  background: #ccc;
  border-radius: 10px;
  margin: 15px 0;
  overflow: hidden;
}

#meterFill {
  height: 100%;
  width: 0%;
  border-radius: 10px;
  transition: width 1s ease-in-out;
}

.ai-box {
  background: rgba(0,0,0,0.3);
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  text-align: left;
}
.notification-bar {
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 15px;
  overflow-y: auto;
}

.notification-bar ul {
  list-style: none;
  padding: 0;
}

.notification-bar li {
  background: #2e7d32;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 6px;
}